<!DOCTYPE html>
<html class="no-js" lang="es">
	<head>
	    <title>DEMO Responsive</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta charset="utf-8"/>
	    <meta name="description" content="descripcion"/>
        <meta name="keywords" content="keywords"/>
        
        <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen"/>
	    <link rel="stylesheet" href="static/css/bower_components/font-awesome/css/font-awesome.min.css"/>
	    <link rel="stylesheet" href="static/css/assets/css/bootswatch.min.css"/>
	    
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="static/js/bower_components/bootstrap/assets/js/html5shiv.js" th:href="@{/static/css/bootstrap.min.css}"></script>
	      <script src="static/js/bower_components/bootstrap/assets/js/respond.min.js" th:href="@{/static/css/bootstrap.min.css}"></script>
	    <![endif]-->
	    
	    <link rel="icon" href="static/img/favicon.ico"/>
	    
	    <script type="text/javascript">
	
	    </script>
  	</head>
  
  	<body>
   		
   		<!-- MENU -->
   		<div class="navbar navbar-default navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="index.html">Digital Bank</a>
        		</div>
        		<div class="navbar-collapse collapse">
          			<ul class="nav navbar-nav">
          				<li><a href="index.html">Posición global</a></li>
            			<li class="active"><a href="transferencias.html">Transferencias</a></li>
            			<li><a href="#">Pagos</a></li>
            			<li><a href="#">Seguridad</a></li>
            		</ul>
            		<ul class="nav navbar-nav navbar-right">
            			<li><a href="Ayuda">Ayuda&nbsp;<i class="glyphicon glyphicon-question-sign"></i></a></li>
          				<li class="divider-vertical"></li>
          				<li class="dropdown">
            				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Area Personal<strong class="caret"></strong></a>
            				<ul class="dropdown-menu">
				                 <li><a href="configuration.html">Configuración</a></li>
				                 <li><a href="logout.html">Cerrar Sesión</a></li>
				             </ul>
          				</li>
          			</ul>
        		</div><!--/.navbar-collapse -->
      		</div>      		
    	</div>
    	<!-- /.MENU -->
    	
    	<div class="container" style="margin-top: 10px;">
        	<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="index.html">Inicio</a></li>
						<li><a href="transferencias.html">Transferencias</a></li>
       					<li class="active">Entre mis cuentas</li>
     				</ul>
  			</div>
		</div>
		
		<div class="container">
    		<div class="col-lg-7">
   				<form class="form-horizontal" action="transf-realizada.html">
   					<fieldset>
   						<legend class="text-primary">Transferencias (2 de 3)</legend>
   						<div class="form-group">
   							<div class="col-lg-8 panel panel-primary col-lg-offset-2" style="border-color:#3a87ad; border-with:2px">
   								<div class="panel-body">
   									<div><label class="control-label">Detalle de transferencia</label></div>
   									<div><label class="control-label">Cuenta Común</label></div>
   									<div><h3 class="text-info">1.500,00&euro;</h3></div>
   									<div><hr/></div>
   									<div class="col-lg-6 pull-left">Cuenta origen:</div>
   									<div class="col-lg-2 pull-right"><strong>*0000</strong></div>
   									<div class="col-lg-6 pull-left">Cuenta destino:</div>
   									<div class="col-lg-2 pull-right"><strong>*1111</strong></div>
   									<div class="col-lg-6 pull-left">Concepto:</div>
   									<div class="col-lg-5 pull-right"><strong>Gastos mensuales</strong></div>
   								</div>
   							</div>
						</div>
						
						<div class="text-info form-group" style="margin-bottom: 5px;">
							<div class="col-lg-12 pull-left">
								<h4><strong>Clave SMS</strong></h4>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<hr style="margin-top:0px;"/>
							</div>
						</div>
						<div class="form-group">
							<span class="help-block col-lg-11">
								En unos instantes recibirás un SMS con una clave secreta que deberás introducir
								en el siguiente campo. Si han pasado 5 minutos y no has recibido el mensaje,
								por favor, solicita uno nuevo o contacta con nostros.
							</span>
						</div>
						
						<div class="form-group">
							<div class="col-lg-11">
								<input type="password" name="sms" id="sms" class="form-control"></input>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-lg-11 col-lg-offset-4">
								<input type="submit" class="btn btn-primary" value="Transferir"></input>
							</div>
						</div>
					</fieldset>
   				</form>
			</div>
    	</div>


	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	   	<script src="static/js/jquery-1.11.0.min.js"></script>
	    <script src="static/js/bootstrap.min.js"></script>
  	
  	</body>
</html>